<div class="container">
  <form
    (ngSubmit)="onSubmit(updateForm.value)"
    [formGroup]="updateForm"
    class="item_update_form"
  >
    <h2>Add New Item</h2>
    <label for="id">
      id:
      <input
        formControlName="id"
        id="id"
        placeholder="id"
        required
        type="text"
      />
    </label>
    <label for="name">
      name:
      <input
        formControlName="name"
        id="name"
        placeholder="John Doe"
        type="text"
      />
    </label>
    <label for="net">
      net_price:
      <input formControlName="net" id="net" placeholder="99999" type="text" />
    </label>

    <button color="primary" mat-raised-button type="submit">Add</button>
  </form>
</div>
