.container {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  align-items: center;
}

.item_details_form {
  display: flex;
  flex-direction: column;
  width: 20%;
  border: 1px solid black;
  height: 34rem;
  width: 31rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item_details_form input {
  margin: 1rem 0;
  width: 50%;
  text-align: center;
}

.item_update_form input:focus {
  outline: none;
}

.item_details_form label {
  font-weight: 700;
}

.item_update_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 6.5rem;
  border: 1px solid black;
  height: 34rem;
  width: 31rem;
}

.item_update_form input {
  margin: 1rem 0;
}

.item_update_form label {
  width: 250px;
  text-align: right;
}
